body {
  background-color: #cfb89c;
  font-family: "Poppins", sans-serif !important;
}

/* @media only screen and (max-width: 992px) {
  .login-form {
    background-color: antiquewhite;
  }
}

.login-form {
  width: 230px;
  height: 240px;
  border-radius: 15px;
} */

.login-brand {
  text-align: center;
}
