body {
  background-color: #cfb89c;
  font-family: "Poppins", sans-serif !important;
}
/* Extra small devices (phones, 600px and down) */
.card-container .card {
  box-shadow: 0px 2px 4px black;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 300px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .login-text {
    font-size: 30px;
  }
  .th-container {
    font-size: 30px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .login-text {
    font-size: 25px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}
